<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rider.xenia"
    android:installLocation="preferExternal">

    <permission
        android:name="com.rider.xenia.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.rider.aracanemap.googlemapsv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required to show current location -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Google Plus permission -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- GCM connects to Internet Services. -->


    <!-- GCM requires a Google account. -->

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.rider.xenia.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.rider.arcane_android..C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".Controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f5318b135a73d87428799a1f498456e4a0b0efa6" />

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />

        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->


        <!--
         <activity
             android:name=".HomeActivity"
             android:label="@string/app_name"
         android:screenOrientation="portrait" >
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
             <intent-filter>
                 <action android:name="android.intent.action.VIEW" />
                 <action android:name="android.intent.action.DELETE" />

                 <category android:name="android.intent.category.DEFAULT" />

                 <data android:scheme="com.idrivecare.familypro" />
             </intent-filter>
         </activity>
        -->
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DELETE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="com.idrivecare.familypro" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".SigninActivity"
            android:label="@string/title_activity_signin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".VerifyForFacebookLogin"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Card_details"
            android:label="@string/title_activity_signin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".SlideMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Myreview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripDetailActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/googleapikey" />

        <activity
            android:name=".Resetpassword"
            android:label="@string/title_activity_resetpassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RequestActivity"
            android:label="@string/title_activity_request"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/title_activity_request"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".FareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectContacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FareReviewActivity"
            android:label="@string/title_activity_fare_review"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PayPalActivity"
            android:label="@string/title_activity_pay_pal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommingSoonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FragmentRouteNavigation"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".XeniaCoinActivity"
            android:screenOrientation="portrait" />

        <!--
         <receiver
             android:name="com.google.android.gcm.GCMBroadcastReceiver"
             android:permission="com.google.android.c2dm.permission.SEND" >
             <intent-filter>

                 &lt;!&ndash; Receives the actual messages. &ndash;&gt;
                 <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                 &lt;!&ndash; Receives the registration id. &ndash;&gt;
                 <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                 <category android:name="com.rider.arcane_android" />
             </intent-filter>
         </receiver>

         <service android:name="com.rider.hire_me.GCMIntentService" />
        -->

        <activity
            android:name=".GooglePlusActivity"
            android:label="@string/title_activity_google_plus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RequestnextActivity"
            android:label="@string/title_activity_requestnext"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegionSearchActivity"
            android:label="@string/title_activity_regin_search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ridelater"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Allrides"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Swipe_tab"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Allrides1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Upcoming"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Completed1"
            android:screenOrientation="portrait" />

        <!-- Firebase Notifications -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <activity
            android:name=".ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".WalletOrder" />
        <activity android:name=".WalletAdsActivity" />
        <activity android:name=".WalletSelectActivity" />
        <activity android:name=".WalletOrderFinish"></activity>
    </application>

</manifest>